@font-face {
    font-family: "MyriadProRegular";
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #f3eeea;

}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.section-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    position: relative;
}

a {
    text-decoration: none;
}

.banner {
    min-height: 520px;
    background: url('../img/header.png') no-repeat 50% 0;
    background-size: cover;
}

.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin: auto;
    height: 520px;
}
.dots {
    display: none;
    text-align: center;
    margin: 10px 0 0;
}
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.slideshow-link {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 31px 13px;
    margin-top: -24px;
    font-weight: bold;
    transition: 0.6s ease;
    background-color: rgba(0,0,0,0.8);
    opacity: 0.7;
}
.slideshow_link_style  {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.slideshow-link_next {
    right: 0;
}

.slideshow-link:hover {
    opacity: 1;
}

.header {
    background-color: #fff;
    top: 0;
    position: relative;
}

.header__logo {
    float: left;
}

.logo__img {
    display: block;
    background: url("../img/logo.png") no-repeat;
    height: 60px;
    width: 256px;
    margin: 28px 0px 0 16px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 78px 65px 16px 0;
    padding: 0;
}

.menu__item {
    display: inline-block;
    margin: 5px 21px;
    font-size: 14px;
}

.menu__link {
    color: #668333;
}

.menu__link:hover {
    color: #4999af;
}

.menu_item_active .menu__link {
    color: #4999af;
}

.nav {
    font-size: 12px;
    opacity: 0.8;
    background-color: #4999af;
    list-style-type: none;
    position: absolute;
    top: 20px;
    right: -12px;
    margin: 0;
    padding: 0;
}

.nav:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-right: solid 12px #4999af;
    border-top: solid 12px transparent;
    opacity: 0.5;
}

.nav:before {
    border-left: solid 12px #4999af;
    border-bottom: solid 12px transparent;
}

.nav:before {
    content: '';
    position: absolute;
    bottom: -11px;
    right: 0;
    border-top: solid 24px #4999af;
    opacity: 0.5;
}

.nav__link_icon {
    position: relative;
}

.icon-search-1 {
    width: 1.3em;
    height: 1.3em;
    fill: #fff;
    position: absolute;
    right: -20px;
    top: -1px;
}

.nav__item {
    display: inline-block;
    margin: 10px 12px 11px 0px;
}
.nav_item_icon {
    padding: 0 20px 0 0;

}

.icon-menu {
    width: 1.3em;
    height: 1.3em;
    fill: #fff;
    padding-top: 8px;
}
.nav_item_border:after {
    border-right: 1px solid #fff;
    content: '';
    font-size: 8px;
    margin-left: 0;
}

.nav__link {
    color: #fff;
    margin-right: 10px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:hover .nav_item_border:after {
    border-right: none;
    content: '';
}

.nav_item_border:after {
    border-right: 1px solid #fff;
    content: '';
    font-size: 8px;
    margin-left: 0;
}

.banner-welcome {
    background-color: #4695ab;
    top: 325px;
    font-size: 14px;
    opacity: 0.85;
    line-height: 40px;
    left: 50%;
    margin-left: -500px;
    padding: 16px 47px 20px 20px;
    position: absolute;
}

.banner_welcome_red {
     display: none;
     background-color: #f17c69;
 }

.banner_welcome_green {
    display: none;
    background-color: #7e964f;
}

.banner-welcome__title {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.banner-welcome__text {
    font-size: 32px;
    color: #fff;
    font-weight: 100;
    margin: 0;
}

.about {
    padding: 0;
}

.flex {
    display: flex;
}

.about-columns {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 320px;
    height: 200px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.column_img_prayer {
    background: url("../img/prayer@2x.png") no-repeat;
    background-size: 320px 200px;
}

.column_img_give_online {
    background: url("../img/give_online@2x.png") no-repeat;
    background-size: 320px 200px;
}

.column_img_stories {
    background: url("../img/stories@2x.png") no-repeat;
    background-size: 320px 200px;
}

.column-name {
    color: #fff;
    font-size: 42px;
    right: 25px;
    bottom: 0;
    margin: 57px 0;
    position: absolute;
    text-shadow: 1px 1px 2px #6e6e6e, 0 0 10px #a3a3a3;
}

.column-info {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    opacity: 0.9;
    background-color: #4695ab;
    padding: 11px 12px 9px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.icon-right-small {
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    fill: #fff;
    right: 15px;
    bottom: 13px;
}

.column-info:after {
    content: '';
    color: #fff;
    width: 28px;
    height: 28px;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    margin-left: 10px;
}

.column_info_give {
    background-color: #7e964f;
}

.column_info_prayer{
    background-color: #f17c69;
}

.column_s {
    box-sizing: border-box;
    flex-basis: 480px;
    height: 260px;
    padding: 0;
}

.column-events {
    margin-right: 20px;
    padding-right: 10px;
}

.column-sevenoaks {
    margin-left: 20px;
    padding-left: 10px;
}

.column__title {
    color: #60a4b7;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
}

.events {
    font-size: 0;
    padding: 0;
    margin-bottom: 48px;
}

.events__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.events__item-date {
    color: #668333;
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    padding: 7px 0;
    line-height: 22px;
    font-size: 15px;
}

.events__item-date strong {
    font-size: 30px;
    display: block;
}

.events__item-name {
    color: #f1715e;
    font-size: 16px;
    margin: 13px 0 7px;
}

.events__item-info {
    font-size: 12px;
    color: #5f5f5f;
}

.events__item {
    border-top: 1px solid #d2cdc9;
    margin: 19px 0 0;
    position: relative;
    padding: 11px 0 0px 55px;
    line-height: 12px;
}

.events-columns {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    background-color: #4999af;
    border: 1px solid #4999af;
    color: #fff;
    padding: 10px 24px;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 20px;
    transition: 1s ease-in-out 0s;
}

.button:hover {
    background-color: #5abed9;
    border-color: #5abed9;
}

.sevenoaks__text {
    color: #5f5f5f;
    line-height: 17px;
    font-size: 14px;
    margin: 19px 0 10px;
    padding: 0;
}

.sevenoaks_text_more {
    color: #f1715e;
}

.sevenoaks_text_more:hover {
    color: #60a4b7;
}

.footer {
    background: #525252;
    padding: 0;
}

.footer-column__title {
    color: #fff;
    font-size: 17px;
}

.footer-columns {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.footer-column {
    display: block;
    height: 143px;
    width: 333px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.footer_column_signup {
    width: 300px;
    margin-right: 25px;
}

.footer_column_service {
    width: 342px;
    margin: 0 30px;
}

.footer_column_connect {
    width: 195px;
    margin-right: 53px;
}

.footer-column__title {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}

.button_size_s {
     display: inline-block;
     padding: 10px 80px;
     background-color: #4999af;
     border: 1px solid #4999af;
     color: #fff;
     text-align: center;
     font-size: 13px;
     line-height: 13px;
     border-radius: 4px;
     transition: 1s ease-in-out 0s;
     margin: 7px 0 0;
 }

.button_size_s:hover {
    background-color: #5abed9;
    border-color: #5abed9;
}

.footer-column__text {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    display: block;
    margin-top: 29px;
}

.column_text_s {
    font-size: 10px;
    margin-top: 5px;
}

.footer-social__link {
    width: 33px;
    height: 33px;
    background-color: #f1715e;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 2px;
    padding: 0;
    position: relative;
}

.copyright {
    border-top: 1px solid #b3b3b3;
    padding: 6px 0 35px;
}

.copyright__text {
    color: #b3b3b3;
    font-size: 12px;
    margin: 0;
}

.copyright__privacy {
    display: inline-block;
    color: #b3b3b3;
    font-weight: 700;
    margin-top: 10px;
}

.copyright__privacy:hover {
    text-decoration: underline;
}

.footer-social {
    margin-top: 32px;
}

.toggle {
    display: none;
}

.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
}

.icon-facebook {
    height: 1.3em;
    width: 1.0em;
    padding: 4px 8px;
    fill: #525252;
}

.icon-twitter-bird {
    width: 1.3em;
    height: 1.3em;
    padding: 4px 7px;
    fill: #525252;
}

.icon-youtube {
    width: 1.2em;
    height: 1.5em;
    padding: 4px 7px;
    fill: #525252;
}

.icon-paypal {
    width: 1.2em;
    height: 1.6em;
    padding: 2px 8px;
    fill: #525252;
}

.icon-email {
    width: 1.2em;
    height: 1.6em;
    padding: 2px 7px;
    fill: #525252;
}



@media screen and (max-width: 1000px) {
    .banner {
        min-height: 520px;
        background: url('../img/header.png') no-repeat;
        background-size: cover;
    }
    .column {
        margin-top: 30px;
        width: 600px;
        background-size: cover;
    }
    .banner-welcome {
        box-sizing: border-box;
        padding: 16px 20px 20px;
        width: 600px;
        left: 50%;
        margin-left: -300px;
        text-align: center;
        font-size: 12px;
    }
    .banner-welcome__title {
        font-size: 30px;
    }
    .banner-welcome__text {
        font-size: 30px;
    }
    .column-events {
        margin: 0;
    }
    .column-sevenoaks {
        margin: 30px 0 0;
    }
    .about-columns {
        margin: 0 10px;
        justify-content: center;
    }
    .events {
        margin: 0 10px;
    }
    .events-columns {
        justify-content: center;
    }
    .column_s {
        flex-basis: 600px;
        padding: 0;
    }
    .footer-columns {
        justify-content: center;
        margin: 0 10px;
    }
    .copyright{
        margin: 0 10px;
    }
    .footer_column_signup {
        margin: 0;
        width: 300px;
    }
    .footer_column_service {
        margin: 0;
        width: 300px;
    }
    .footer_column_connect {
        margin: 0;
        width: 600px;
    }
    .footer-column__text {
        margin-top: 19px;
    }
    .footer-column {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        justify-content: space-around;
        display: flex;
    }
    .nav__item {
        margin: 10px 0;
    }

    .header__logo {
        width: 100%;
    }
    .logo__img {
        margin: 45px auto 0;
        text-align: center;
    }
    .menu {
        margin: 120px 0 10px 0;
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }
    .menu__item {
        margin: 5px 5px;
    }
    .slideshow-link {
        display: none;
    }
    .dots {
        text-align: center;
        display: block;
    }
    .column-events {
        margin-top: 30px;
    }
    .banner-welcome {
        margin-left: -50%;
        padding: 16px 10px 20px;
        overflow: hidden;
        width: 100%;
        top: 50%;
    }
    .banner-welcome__title {
        font-size: 20px;
    }
    .banner-welcome__text {
        font-size: 20px;
    }

    .column-sevenoaks {
        height: 355px;
    }

    .nav_item_border:after {
        border-right: none;
    }

    .footer-column {
        text-align: center;
    }
    .icon-search-1 {
        top: -6px;
    }
}

@media screen and (max-width: 636px) {
    .footer_column_connect {
        width: 300px;
    }

}

@media screen and (max-width: 320px) {
    .menu__item {
        font-size: 12px;
    }
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        margin: 0;
        padding: 0;
    }
    .toggle {

    }
    .nav_item_toggle {
        margin: 0;
        padding: 0;
    }

    .nav:before {
        display: none;
    }
    .nav__link {
        margin: 0;
    }
    .logo__img {
        margin: 45px auto 15px;
    }
    .icon-search-1 {
        top: -2px;
    }
}

/* 1.0 dpr */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){
    .column_img_prayer {
        background: url("../img/prayer@2x.png") no-repeat;
        background-size: 320px 200px;
    }
    .column_img_give_online {
        background: url("../img/give_online@2x.png") no-repeat;
        background-size: 320px 200px;
    }
    .column_img_stories {
        background: url("../img/stories@2x.png") no-repeat;
        background-size: 320px 200px;
    }
    .banner {
        background: url('../img/header@2x.png') no-repeat 50% 0;
        background-size: 1400px 520px;
    }
}
























