@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.row:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.section-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    position: relative;
}

a {
    text-decoration: none;
}

.logo  {
    float: left;
}

.logo__img {
    display: block;
    background: url("../img/logo.png") no-repeat;
    height: 69px;
    width: 197px;
    margin: 27px 10px 0px 8px;
}

.section-header {
    margin-bottom: -3px;
    padding: 0;
    text-align: center;
    background-color: #44433e;
}

.navbar {
    float: right;
    font-size: 12px;
    margin: 53px 0 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-item {
    float: left;
    list-style-type: none;
}

.navbar-item a {
    color: #b8b8b8;
    padding: 10px 12px 50px;
    float: none;
}

.navbar-item_icon {
    margin-top: -4px;
    display: block;
}

.search-icon {
    float: left;
    background: url("../img/search_icon.png") no-repeat;
    height: 24px;
    width: 24px;
}

.navbar .navbar-item__active a span {
    color: #18cfab;
    border-bottom: 2px solid;
    padding-bottom: 52px;
}

.navbar a:hover span {
    color: #fff;
    padding: 10px 0px 52px;
    border-bottom: 2px solid #18cfab;
}

.section-home {
    background-color: #3c3c3c;
    text-align: center;
}

.section-home__content {
    padding-top: 205px;
}

.section-home__title {
    color: #fff;
}

.section-home__title {
    font-size: 35px;
    margin: 30px 0 17px;
    text-transform: uppercase;
}

.section-home__title_strong {
    color: #18cfab
}

.section-home__title_main {
    color: #fff;
    font-size: 75px;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}

.section-home__title_features {
    font-family: 'Montserrat-Extra-Light', sans-serif;
    font-size: 35px;
    margin: 15px 0;
    color: #d4d4d4;
    font-weight: 200;
}

.actions {
    text-align: center;
    margin: 140px 0 247px;
}

.btn {
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: KievitPro, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 63px;
    line-height: 59px;
    outline: medium none;
    padding: 0 36px;
    margin: 0 12px;
    position: relative;
    transition: all 0.25s ease 0s;
}

.btn-turquoise {
    background-color: #18cfab;
    box-shadow: 0 3px 0 0 #fff inset;
}

.btn-turquoise:hover {
    background-color: #00b294;
    box-shadow: 0 3px 0 0 #007e67 inset;
}

.btn-blue {
    background-color: #00cbf6;
    box-shadow: 0 3px 0 0 #fff inset;
}

.btn-blue:hover {
    background-color: #049ce2;
    box-shadow: 0 3px 0 0 #02618d inset;
}

.actions-wrapper {
    position: absolute;
    right: -170px;
    top: 0;
}

.actions-wrapper__field {
    position: relative;
    background-color: #1f1f1f;
    height: 105px;
    width: 170px;
    margin-bottom: 18px;
}

.slider__navigation {
    float: center;
    display: inline-block;
    list-style: none;
}

.slider__previous {
    width: 26px;
    height: 37px;
    margin: 0px 20px 0 0;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
    background: #3c4140 none repeat scroll 0 0;
    padding: 11px 17px;
}

.slider__next {
    width: 26px;
    height: 37px;
    margin: 0 0 0 20px;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
    padding: 11px 17px;
    background: #17cfab none repeat scroll 0 0;
    border: 1px solid #17cfab;
}

.icon-left-open {
    float: left;
    background: url("../img/icon-left-open.png") no-repeat;
    height: 27px;
    width: 17px;
    margin: 5px;
}

.icon-right-open {
    float: left;
    background: url("../img/icon-right-open.png") no-repeat;
    height: 27px;
    width: 17px;
    margin: 5px;
}

.menu {
    width: auto;
}

.menu-item {
    border-top: 6px solid;
    float: left;
    text-transform: uppercase;
    height: 180px;
    text-align: center;
    width: 25%;
    padding: 94px 0;
}

.menu-item__odd {
    background: #1c2a33;
    color: #18cfab;
}

.menu-item__even {
    background: #17cfab;
    color: #fff;
}

.menu-item p {
    margin: 50px 0 0;
}

.menu-item_theme:before {
    background-image: url("../img/sprite.png");
    background-position: 1px 0px;
    width: 65px;
    height: 100px;
}

.menu-item_custom:before {
    background-image: url("../img/sprite.png");
    background-position: -65px 0px;
    width: 100px;
    height: 100px;
}

.menu-item_support:before {
    background-image: url("../img/sprite.png");
    background-position: -164px 0px;
    width: 65px;
    height: 100px;
}

.menu-item_responsive:before {
    background-image: url("../img/sprite.png");
    background-position: -230px 0px;
    width: 104px;
    height: 100px;
}

.menu-item:before {
    content: '';
    display: inline-block;
}

.features {
    text-align: center;
    color: #4e4e4e;
    margin-top: 102px;
    font-size: 14px;
    line-height: 25px;
}

.features__title {
    font-size: 36px;
    margin: 15px;
}

.features__border {
    display: inline-block;
    background-image: url("../img/sprite.png");
    background-position: 0px -110px;
    width: 95px;
    height: 10px;
    text-align: center;
    margin: 26px 0 0;
}

.features__col {
    box-sizing: border-box;
    display: inline-block;
    margin: 38px 0 8px;
    width: 32.333%;
    padding: 0 25px;
    text-align: left;
}

.features__col p {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 10px;
}

.col-retina__active p {
    color: #18cfab;
}

.features__col_retina p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -120px;
    width: 26px;
    height: 35px;
}

.features__col_blog p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -154px;
    width: 30px;
    height: 33px;
}

.features__col_blog p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -154px;
    width: 30px;
    height: 33px;
}

.features__col_icon p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -184px;
    width: 30px;
    height: 33px;
}

.features__col_parallax p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -215px;
    width: 30px;
    height: 33px;
}

.features__col_interface p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -249px;
    width: 36px;
    height: 29px;
}

.features__col_seo p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -275px;
    width: 36px;
    height: 29px;
}
.features__col_solutions p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -307px;
    width: 36px;
    height: 35px
}

.features__col_menu p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -342px;
    width: 36px;
    height: 31px;
}

.features__col_custom p:before {
    background-image: url("../img/sprite.png");
    background-position: 0px -374px;
    width: 36px;
    height: 24px;
}

.features__col p:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

@media screen and (max-width: 1450px) {

    .actions-wrapper {
        right: 0;

    }

}


