@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.row:before, .row:after {
    content: ' ';
    display: table;
    }
.row:after {
    clear: both;
    }
.section {
    overflow: hidden;
    }
header, section {
    display: block;
    }
.section-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    position: relative;
    }
a {
    text-decoration: none;
   }
.logo {
    float: left;
    }
.logo__img {
    float: left;
    background: url("../img/logo.png") no-repeat;
    height: 69px;
    width: 60px;
    margin: 25px 10px 25px 10px;
    }
.logo__name {
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding-top: 45px;
    margin: 0;
    }
.logo strong {
    color: #18cfab;
}
.section-header {
    margin-bottom: -2px;
    padding: 0;
    text-align: center;
    background-color: #44433e;
    }
.navbar {
    float: right;
    font-size: 12px;
    margin: 0;
    padding-top: 52px;
    text-transform: uppercase;
    font-weight: 700;
    }
.menu__item {
    float: left;
    list-style: none;
    }
.menu__item a{
    color: #b8b8b8;
    padding: 10px 10px;
    float: none;
    }
.search-icon {
    float: left;
    background: url("../img/search_icon.png") no-repeat;
    height: 24px;
    width: 24px;
    }
.navbar .active a span{
    color: #18cfab;
    border-bottom: 2px solid;
    padding-bottom: 50px;
    }
.navbar a span:hover {
    color: #fff;
    padding: 10px 0px  0px;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 50px;
    }
.section-home {
    background-color: #3c3c3c;
    text-align: center;
    }
.section-home__title {
    margin: 238px 0 20px 0;
    color: #fff;
    }
.section-home__title {
    font-size: 35px;
    text-transform: uppercase;
    }
.section-home__title_strong {
    color:#18cfab
    }
.section-home__title_main {
    color: #fff;
    font-size: 75px;
    margin: 10px 0 0;
    text-transform: uppercase;
    }
.section-home__title_features {
    font-family: 'Montserrat-Extra-Light', sans-serif;
    font-size: 35px;
    margin: 10px 0;
    color: #d4d4d4;
    }
.actions {
    padding: 130px;
    padding-left: 430px;
    }
.btn {
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: KievitPro,sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 62px;
    line-height: 58px;
    outline: medium none;
    padding: 0 36px;
    margin: 0 12px;
    position: relative;
    transition: all 0.25s ease 0s;
    }
.btn-turquoise {
    background-color: #18cfab;
    box-shadow: 0 3px 0 0 #fff inset;
    }
.btn-turquoise:hover {
    background-color: #02c172;
    box-shadow: 0 3px 0 0 #bcb inset;
    }
.btn-blue {
    background-color: #00cbf6;
    box-shadow: 0 3px 0 0 #fff inset;
}
.btn-blue:hover {
    background-color: #0097f6;
    box-shadow: 0 3px 0 0 #fff inset;
    }
.actions-wrapper {
    float: right;
    display: inline-block;
    padding-right: 120px;
    margin-bottom: 105px;
    }
.actions-wrapper__field {
    position: relative;
    background-color: #1f1f1f;
    height: 105px;
    width: 170px;
    margin-bottom: 18px;
    }
.slider__navigation {
    float: center;
    display: inline-block;
    list-style: none;
    }
.slider__previous {
    width: 26px;
    height: 37px;
    margin: 0px 20px 0 0;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
    background: #3c4140 none repeat scroll 0 0;
    padding: 11px 17px;
    }
.slider__next {
    width: 26px;
    height: 37px;
    margin: 0 0 0 20px;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
    padding: 11px 17px;
    background: #17cfab none repeat scroll 0 0;
    border: 1px solid #17cfab;
    }
.icon-left-open {
    float: left;
    background: url("../img/icon-left-open.png") no-repeat;
    height: 27px;
    width: 17px;
    margin: 5px;
    }
.icon-right-open {
    float: left;
    background: url("../img/icon-right-open.png") no-repeat;
    height: 27px;
    width: 17px;
    margin: 5px;
    }

